# Konfiguration und Bibliotheken nicht direkt abrufbar machen
<FilesMatch "^(config(\.example|-paths)?\.php|mail-template\.php|\.htaccess)$">
  Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^vendor/ - [F,L]
</IfModule>
